/* admin_header.css */

.ap-header {
  position: sticky;
  top: 10px; /* lowered slightly */
  left: -10px; /* shifted a bit towards the left */
  width: 120%;
  height: 97px;
  background-color: var(--pineapple-bg-primary);
  border-bottom: 1px solid var(--pineapple-border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px; /* adjusted spacing for new top position */
  padding-left: 12px; /* a bit more spacing from left */
  z-index: 1000;
}

.ap-header-title {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

.ap-header-subtitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--pineapple-text-secondary);
  margin-top: 4px;
}
