/* index.css */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* ================= Global Variables ================= */
:root {
  --background: #081028;
  --foreground: #ffffff;
  --pineapple-bg-primary: #081028;
  --pineapple-bg-secondary: #0B1739;
  --pineapple-bg-tertiary: #0A1330;
  --pineapple-green: #93F02F;
  --pineapple-text-primary: #ffffff;
  --pineapple-text-secondary: #AEB9E1;
  --pineapple-border: #343B4F;
  --border: #343B4F;
  --radius: 0.25rem;
}

/* ================ Resets & Global Typography ================ */
* {
  box-sizing: border-box;
  border-color: var(--border);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Source Sans Pro', -apple-system, Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.06);
  border-radius: 6px;
}
